//====================================================================================================
.footer {
    margin-top: rem(80);
    // .footer__container

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(180deg, #201841 0%, #2C205D 100%);
        overflow: hidden;
        padding: rem(54) rem(80);
        @media (max-width: em(960)){
            flex-direction: column;
        }
    }

    // .footer__left

    &__left {
        position: relative;
        z-index: 2;
        font-family: 'Stone Soup NF W01 Regular';
        font-size: rem(48);
        line-height: rem(46);
        text-align: center;
        width: rem(302);
        & span{
            color: #C2E978;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                width: 19px;
                height: 21px;
                background: url('../img/footer/Highlight_05.svg');
                right: -10px;
                top: -10px;
            }
        }
    }
    

    // .footer__rigth

    &__rigth {
        position: relative;
        z-index: 2;
        & ul{
            display: flex;
            gap: rem(64);
            align-items: center;
        }
    }

    // .footer__href

    &__href {
        opacity: .5;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        &:hover{
            opacity: 1;
        }
}

    // .footer__social

    &__social {
    }
    &__arm{
        z-index: 1;
        position: relative;
        width: rem(228);
        & img{
            @media (max-width: em(960)){
                opacity: .5;
            }
            z-index: 1;
            position: absolute;
            bottom: -200px;
            left: calc(50% - 290px/2);
            animation: footer 10s ease infinite;
            -webkit-animation: footer 10s ease infinite;
}
    }
    &__end{
        margin-top: rem(80);
        margin-bottom: rem(51);
        font-family: 'Stone Soup NF W01 Regular';
        font-size: rem(17);
        line-height: rem(21);
        /* identical to box height */
        text-align: center;
        letter-spacing: 0.05em;
    }
}



@keyframes footer {
    0%{
        transform: rotate(-27.64deg);
        -webkit-transform: rotate(-27.64deg);
        -moz-transform: rotate(-27.64deg);
        -ms-transform: rotate(-27.64deg);
        -o-transform: rotate(-27.64deg);
}
    50%{
        transform: rotate(-50.67deg);
        -webkit-transform: rotate(-50.67deg);
        -moz-transform: rotate(-50.67deg);
        -ms-transform: rotate(-50.67deg);
        -o-transform: rotate(-50.67deg);
}
    100%{
        transform: rotate(-27.64deg);
        -webkit-transform: rotate(-27.64deg);
        -moz-transform: rotate(-27.64deg);
        -ms-transform: rotate(-27.64deg);
        -o-transform: rotate(-27.64deg);
}
}
//====================================================================================================
