//====================================================================================================
.header {
	position: fixed;
	width: 100%;
	padding-top: rem(40);
	z-index: 4;
	padding-bottom: rem(70);
	background: linear-gradient(180deg, #000000 45.56%, rgba(0, 0, 0, 0.8) 56.45%, rgba(0, 0, 0, 0.6) 67.34%, rgba(0, 0, 0, 0.4) 78.23%, rgba(0, 0, 0, 0.2) 89.11%, rgba(0, 0, 0, 0) 100%);
	// .header__container

	&__container {
		position: relative;
		z-index: 4;
		max-width: rem(1332);
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	// .header__nav

	&__nav {
		z-index: 2;
		position: relative;
		display: flex;
		align-items: center;
		gap: rem(24);
		& ul{
			display: flex;
			gap: rem(24);
			flex-wrap: wrap;
			
			@media (min-width: em(1120)){
				max-width: rem(790);
			}
			& li a{
				padding: rem(5);
				font-size: rem(17);
				line-height: rem(20);
				transition: all .3s linear;
				-webkit-transition: all .3s linear;
				-moz-transition: all .3s linear;
				-ms-transition: all .3s linear;
				-o-transition: all .3s linear;
				&:hover{
					color: #C2E978;
				}
			}
		}
	}

	// .header__logo-href

	&__logo-href {
		z-index: 5;
	}

	// .header__social

	&__social {
		display: flex;
		gap: rem(24);
		position: relative;
		z-index: 5;
		align-items: center;
		& ul{
			display: flex;
			gap: rem(24);
			align-items: center;
			& li a{
				padding: rem(5);
				transition: all .3s ease;
				opacity: .5;
				-webkit-transition: all .3s ease;
				-moz-transition: all .3s ease;
				-ms-transition: all .3s ease;
				-o-transition: all .3s ease;
				&:hover{
					opacity: 1;
				}
				& img{
					width: rem(24);
					height: rem(24);
				}
			}
		}
	}

}
@media (max-width: em(1120)){
	.menu__body{
		top: 0;
		padding-top: rem(100);
		position: fixed;
		left: -100%;
		transition: all .3s linear;
		background: #000;
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		overflow-y: scroll;
		gap: rem(32);
		-webkit-transition: all .3s linear;
		-moz-transition: all .3s linear;
		-ms-transition: all .3s linear;
		-o-transition: all .3s linear;
}

	.menu__list{
		flex-direction: column;
		width: 100%;
		& li{
			width: 100%;
			text-align: center;
			font-size: rem(32);
		}
	}
	
	.menu-open .menu__body{
		left: 0;
	}
}


//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: rem(1120)) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #fff;
			-webkit-transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
			-ms-transition: all 0.3s ease 0s;
			-o-transition: all 0.3s ease 0s;
}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

