.sequoia {
    position: relative;
    // .sequoia__container

    &__container {
        max-width: 976px ;
        background: linear-gradient(180deg, #0E1A19 0%, #133B2A 100%);
        padding: rem(76);
    }
    position: relative;

    // .sequoia__block

    &__block {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        @media (max-width: em(1000)){
            flex-direction: column;
            gap: rem(30);
            align-items: center;
            justify-content: center;
        }
    }

    // .sequoia__left

    &__left {
        position: relative;
        @media (max-width: em(1000)){
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        &-bg{
            transform: rotate(63.47deg);
            position: absolute;
            width: 232.78px;
            height: 315.42px;
            top: -87px;
            @media (max-width: em(815)){
                left: 40px;
            }
            left: 0;
            z-index: -3;
        }
        &-tree{
            position: absolute;
            z-index: -1;
            animation: tree 10s ease infinite;
            @media (min-width: em(1000)){
                @include adaptiveValue("left", 450, 350, 1428,1000,1);
            }
            @media (max-width: em(1000)){
                left: 80px;
                display: none;
            }
            filter: drop-shadow(0px 29px 80px rgba(0, 0, 0, 0.44)) drop-shadow(0px 14.6812px 34.875px rgba(0, 0, 0, 0.28)) drop-shadow(0px 5.8px 13px rgba(0, 0, 0, 0.24)) drop-shadow(0px 1.26875px 4.625px rgba(0, 0, 0, 0.12));
        }
        &-treop{
            opacity: 0;
            display: none;
            @media (max-width: em(1000)){
                opacity: 1;
                display: block;
            }
        }
        
        & h3{
            font-family: 'Stone Soup NF W01 Regular';
            font-size: rem(48);
            line-height: rem(46);
            /* or 96% */
            width: 310px;
            letter-spacing: 0.05em;
            @media (max-width: em(1000)){
                text-align: center;
            }
            
        }
    }

    // .sequoia__left-white

    &__left-white {
        color: #FFFFFF;
    }

    // .sequoia__left-green

    &__left-green {
        margin-top: rem(5);
        color: #C2E978;
        margin-left: 20px;
    }

    // .sequoia__right

    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        // justify-content: flex-end;
        gap: rem(24);
        width: 300px;
        font-size: rem(25);
        line-height: rem(32);
        /* or 128% */
        
        text-align: right;
        
        color: #FFFFFF;
        @media (max-width: em(1000)){
            align-items: center;
        }
        & p{
            @media (max-width: em(1000)){
                text-align: center;
                &::after{
                    transform: rotate(29deg);
                    right: -10px !important;
                    top: 55px !important;
                }
            }
            position: relative;
            &::after{
                content: '';
                position: absolute;
                height: 93px;
                width: 24px;
                background: url('../img/sequoia/Right\ arrow\ curved.svg');
                right: -32px;
                top: 38px;
            }
        }
    }

    // .sequoia__btn

    &__btn {
        padding: rem(20) rem(33.5);
        text-align: center;
        width: 188px;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        @media (max-width: em(815)){
            width: auto;
        }
}
    &__bg{
        width: 1128px;
        height: 341px;
        position: absolute;
        left: calc(50% - 564px);
        &-sheet1{
            position: absolute;
            top: percent(49,341);
            left: percent(0,1128);
        }
        &-sheet2{
            position: absolute;
            top: percent(-28,341);
            right: percent(-40,1128);
        }
        &-sheet3{
            position: absolute;
            bottom: percent(-50,341);
            right: percent(198,1128);
        }
        &-sheet4{
            position: absolute;
            bottom: percent(-43,341);
            left: percent(118,1128);
        }
        &-sheet5{
            position: absolute;
            bottom: percent(75,341);
            right: percent(245,1128);
        }
    }
}
.button {
}

@keyframes tree {
    0%{
        transform: translateY(-35%)    ;
        -webkit-transform: translateY(-35%);
        -moz-transform: translateY(-35%);
        -ms-transform: translateY(-35%);
        -o-transform: translateY(-35%);
}
    50%{
        transform: translateY(-15%)    ;
        -webkit-transform: translateY(-15%);
        -moz-transform: translateY(-15%);
        -ms-transform: translateY(-15%);
        -o-transform: translateY(-15%);
}
    100%{
        transform: translateY(-35%)    ;
        -webkit-transform: translateY(-35%);
        -moz-transform: translateY(-35%);
        -ms-transform: translateY(-35%);
        -o-transform: translateY(-35%);
}
}
